<div class="user_fields">
  <p>
    Don't have an account yet?<br/>
    <%= link_to 'Sign up now!', new_user_path %>
  </p>

  <%= render :partial => '/sessions/new_fields', :object => form %>
  
  <span style="display: none;">
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me %>
  </span>
</div>
<div class="submit">
  <%= form.submit 'Login', :class => 'submitBtn' %>
</div>
