<h1>Login</h1>
<div class="login-header">
  <h3>Don't have an account?</h3>
  <%= link_to 'Create one real quick', new_user_path, :class=>'call_to_action'%>
  <h3>Sign up so that you can list boards, search surfers, and make reservations.</h3>
</div>
<% form_for :session,
        :url => session_path(),
        :html => {:id => 'login_form' } do |form| %>
 
 <% if @error_messages %>
 <div id="errorExplanation">
    <%= @error_messages %>
  </div>
 <% end %>

  <div class="user-fields">
	<%= form.label :email, 'Email' %>
	<%= form.text_field :email %>
    <br/>
	<%= form.label :password, 'Password' %>
	<%= form.password_field :password %>
  </div>
  <div class="session-submit">
    <%= form.submit 'Login', :class => 'submitBtn' %>
  </div>
  <p>
    <%= link_to "Forgot Password?", lost_password_path %>
  </p>
<% end -%>
