<h1>Please log in first</h1>

<h3>Don't have an account?</h3>
 <%= link_to 'Sign up now!', new_user_path %>
 <h3>As a registered user, you'll be able to list your boards for rent or rent boards for your next trip</h3>

<% form_for :session,
        :url => session_url(:protocol => env_ssl_protocol),
        :html => { :method => 'POST' } do |form| %>
  <%= form.label :login, 'Login' %>
  <%= form.text_field :login %>

  <%= form.label :password, 'Password' %>
  <%= form.password_field :password %>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
