<h1>Please log in first</h1>
<div class="login-header">
  <h3>Don't have an account?</h3>
  <%= link_to 'Sign up now!', new_user_path, :class=>'call_to_action'%>
  <h3>As a registered user, you'll be able to list your boards for rent or rent boards for your next trip</h3>
</div>
<% form_for :session,
        :url => session_path(),
        :html => {:id => 'login_form' } do |form| %>
 
 <% if @error_messages %>
 <div id="errorExplanation">
    <%= @error_messages %>
  </div>
 <% end %>

  <div class="user-fields">
	<%= form.label :email, 'Email' %>
	<%= form.text_field :email %>
    <br/>
	<%= form.label :password, 'Password' %>
	<%= form.password_field :password %>
  </div>
  <div class="submit">
    <%= form.submit 'Login', :class => 'submitBtn' %>
  </div>
<% end -%>
