
<div id="locationPicker">
  <h3>Choose a location or enter a <%=link_to "new one", new_board_location_path , :id => 'new-loc' %>.<h3>

    <select id="board_location_selector" onchange="set_board_location_id(this.value)" >
      <% @existing_locations.each do |location| %>
        <option value="<%= location.id %>"
0
           <% if !@board.nil? and @board.location_id == location.id -%> selected="selected"<% end -%>>
          <%= location.street %> <%= location.locality %>, <%= location.region %>
        </option>
      <% end %>
    </select>
</div>