<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	</head>
  	<body>
		<%@added_reservations.each do |reservation|%>
		<h1>New reservation for <%=h reservation.board.model%> by <%=h reservation.board.maker%></h1>

		<ul>
			<% reservation.reserved_dates.each do |reservation_date| %>
				<li><%=h reservation_date.date%></li>
			<% end %>
		</ul>
		<%end%>
		<%@deleted_reservations.each do |reservation|%>
		<h1>Deleted reservation for <%=h reservation.board.model%> by <%=h reservation.board.maker%></h1>

		<ul>
			<% reservation.reserved_dates.each do |reservation_date| %>
				<li><%=h reservation_date.date%></li>
			<% end %>
		</ul>
		<%end%>
	</body>
</html>