<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	</head>
  	<body>
		<%@board_date_additions.each do |board, reservation_dates|%>
		<h1>New reservation dates for <%=h board.model%> by <%=h board.maker%></h1>

		<ul>
			<% for reservation_date in reservation_dates %>
				<li><%=h reservation_date.date%></li>
			<% end %>
		</ul>
		<%end%>
		<%@board_date_removals.each do |board, reservation_dates|%>
		<h1>Removed reservation dates for <%=h board.model%> by <%=h board.maker%></h1>

		<ul>
			<% for reservation_date in reservation_dates %>
				<li><%=h reservation_date.date%></li>
			<% end %>
		</ul>
		<%end%>
	</body>
</html>