<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'location',
 	'datePicker',
 	'unavailable_dates',
 	'jquery/auto_complete/jquery.autocomplete',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date', 
		'jquery/date_picker/jquery.datePicker', 
		'jquery/date_picker/datePickerMultiMonth', 
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'jquery/hint/jquery.hint',
                'boards/new',
                'unavailable_dates/new',
                'jquery/auto_complete/jquery.autocomplete.pack'%>

<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $('input[title!=""]').hint();
  });

<% end %>

<h1>Edit Board</h1>

<div class="owners-instructions">
  <p>
    Update the fields you want to change below. Leave the fields you don't want to
    change as they are.
  </p>
</div>

<h2>Board Location</h2>
<p>
  This is the address that will be given to people who reserve your board.
</p>

<%= render :partial => '/board_locations/list' %>

<% form_for @board, :html => {:name => "new_board_form", :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :location_id %>
<br/>
<hr/>
<div id="boardDetails">
  <h2>Next, tell us about the board.</h2>
  <p>Different surfers, different waves, and different conditions require different boards. Describe yours below:</p>
  <div class="fields">
    <% if current_user.is_a?(Surfer) %>
      <p>
        <%= f.label :name, "Nickname:" %><span id="required_star">*</span><br />
        <%= f.text_field :name %>
      </p>
    <% else %>
      <p>
        <%= f.label :name, "Name/ID:" %><span id="required_star">*</span><br />
        <%= f.text_field :name %>
      </p>
    <% end %>
    <p>
      <%= f.label :maker, "Maker:" %><span id="required_star">*</span><br />
      <%= f.text_field :maker %>
    </p>
    <p>
      <%= f.label :model, "Model:" %><br />
      <%= f.text_field :model %>
    </p>
    <p>
      <%= f.label :lower_length, "Shortest length available for this type of board:" %><br />
      <input id="generic_board_lower_length_feet" name="generic_board[lower_length_feet]" size="4" type="text" title="feet" value="<%= @board.lower_length_feet %>"/>
      <input id="generic_board_lower_length_inches" name="generic_board[lower_length_inches]" size="4" type="text" title="inches" value="<%= @board.lower_length_inches %>"/>
    </p>
    <p>
      <%= f.label :upper_length, "Longest length available for this type of board:" %><br />
      <input id="generic_board_upper_length_feet" name="generic_board[upper_length_feet]" size="4" type="text" title="feet" value="<%= @board.upper_length_feet %>"/>
      <input id="generic_board_upper_length_inches" name="generic_board[upper_length_inches]" size="4" type="text" title="inches" value="<%= @board.upper_length_inches %>"/>
    </p>
    <p>
      <%= f.label :style_id, "Style:" %><span id="required_star">*</span><br />
      <%= f.collection_select :style_id, Style.all, :id, :name, {:prompt => ""} %>
      <% if admin? %>
        <%= link_to "Manage board styles", styles_path %>
      <% end %>
    </p>
    <p><a id='hide_show_optional_fields' href="#" onclick="javascript:void(0); return false;"><span id='visibility_indicator'>Show</span> Optional Fields</a>
    </p>
    <div id="optional_fields" style="display:none;">
      <p>
        <%= f.label :description, "Description:" %><br />
        <%= f.text_area :description, :size => "60x2"%>
      </p>
    </div>
  </div>
  <br/>
  <hr/>
  <% if current_user.is_a?(Surfer) %>
    <div class="explanation">
      <h2>Daily Fee</h2>
      <p>
        Put in a number or 0 if you want it to be free.
      </p>
    </div>
    <div class="fields">
      <p>
        <%= f.label :daily_fee, "Daily Fee:" %><br />
        $<%= f.text_field :daily_fee, :size => 4 %>
      </p>
    </div>
  <% else %>
    <div class="explanation">
      <h2>Daily rental fee</h2>
      <p>
        Set the daily rental fee below.
      </p>
    </div>
    <div class="fields">
      <p>
        <%= f.label :daily_fee, "Daily Fee:" %><br />
      </p>
      <p>
        $<%= f.text_field :daily_fee, :size => 5 %>
      </p>
      <p>
        <%= f.label :weekly_fee, "Weekly Fee:" %><br />
      </p>
      <p>
        $<%= f.text_field :weekly_fee, :size => 5 %>
      </p>
    </div>
  <% end %>
  <br/>
  <hr/>
  <div class="explanation">
    <h2>Pictures</h2>
    <p>
      Max file size per picture is
      600KB. Also we don't crop your pictures, but they're all displayed in square boxes, so square pictures will
      look best in the search results.
    </p>
  </div>
  <div class="fields">
    <div id="edit-photos">
      <% @board.images.each_with_index do |image, index| %>
        <% if index < Board::MAX_IMAGES %>
          <div class="edit-photo-holder">
            <% if image.id.nil? || image.data.blank? %>
            <div class="edit-no-photo">
              <div id="centering-div">
                <p>No Photo</p>
              </div>
            </div>
            <% elsif !image.valid? %>
            <div class="edit-no-photo">
              <div id="centering-div">
                <p class="edit-photo-error">
                  You attempted to upload an something that wasn't a png or jpg.
                  Either upload a different picture or click <%= link_to "here", board_path(@board) %> to revert to your original.
                </p>
              </div>
            </div>
            <% else %>
            <div class="edit-photo">
              <div id="centering-div">
                <a class="large_board_image" href="<%= image.data.url(:original)%>"><%= image_tag image.data.url(:show_page) %></a>
              </div>
            </div>
            <% end %>
            <p>
              Pictures will be uploaded when you click "Update".
            </p>
            <p>
              <% f.fields_for :images, image do |image_fields| -%>
                <%= image_fields.file_field :data, :size => 27 -%>
              <% end -%>
            </p>
          </div>
          <% if (index % 2 == 1) %>
            <div class="clear"></div>
          <% end %>
        <%end%>
      <%end%>
    </div>
  
  <%for image in @board.images%>

  <%end%>
  </div>
  <br/>
  <hr/>
  <div class="explanation">
    <h2>Which days is this board <strong>not</strong> available?</h2>
    <p>
       Select the days you won't be able to rent or lend this board and click the button below.
       You can always return to change these dates later.
    </p>
  </div>
  <%= render :partial => '/unavailable_dates/form', :locals => { :board => @board } %>
  <div id="submit-unavailable-dates">
    <%= f.submit 'Update', :class => 'submitBtn', :id => "new-board-submit" %>
  </div>
</div>
  
<% end %>

