<h1>Edit My Information</h1>

<p>Leave password fields blank to leave password unchanged.</p>

<% semantic_form_for @user, :url => {:action => "update" }  do |form| %>
  <div class="user_fields">
 	<%= form.input :first_name if !@user.is_rental_shop?%>
	<%= form.input :last_name, :required=>false if !@user.is_rental_shop?%>
	<%= form.input :name if @user.is_rental_shop? %>
	<%= form.input :email %>
	<%= form.input :password, :required=>false %>
	<%= form.input :password_confirmation, :required=>false %>
	<%= image_tag(@user.image.data.url(:thumb)) if @user.image != nil %>
	<% form.fields_for :image_attributes do |image_fields| %>
		<%= image_fields.file_field :data %>
	<% end %>
  </div>

  <div class="submit">
    <% form.buttons do %>
	  <%= form.commit_button "Save", :button_html => { :class => "submitBtn" } %>
	<% end %>
  </div>
<% end -%>
