<% content_for :head do %>
  <%= GMap.header %>
  <%= stylesheet_link_tag 'user', :media => 'screen' %>
  <%= javascript_include_tag 'json2','locations/new' %>
<% end %>

<h1 id="show-name">Edit Your Profile</h1>
<div class="left-column">
  <div class  ="user-photo">
    <% form_for @user, :html => {:multipart => true } do |form| %>
      <% if @user.image.nil? %>
        <div id="no-photo-div">
          <div id="centering-div">
            <p class="no-photo">No Photo</p>
          </div>
        </div>
      <% else %>
        <div id="the-photo">
          <div id="centering-div">
            <%= image_tag @user.image.data.url(:user_page), :alt => "user photo" %>
          </div>
        </div>
      <% end %>
      <div id="photo-form">
        <h2>Upload/Change Photo</h2>
          <%= error_messages_for 'image' %>
          <% form.fields_for :image_attributes do |image_fields| %>
            <%= image_fields.file_field :data %>
          <% end %>
        <div id="upload-button" class="submit">
          <%= form.submit 'Upload', :class => 'submitBtn' %>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
    <%= render :partial => '/locations/form' %>

  </div>
</div>
<div class="right-column">
  <% semantic_form_for @user do |form| %>
    <div class="user-info-table">
      <h2>Update Your Info</h2>
      <ul>
        <%= form.input :first_name if !@user.is_rental_shop?%>
        <div class="clear"></div>
        <%= form.input :last_name, :required=>false if !@user.is_rental_shop?%>
        <div class="clear"></div>
        <%= form.input :name if @user.is_rental_shop? %>
        <div class="clear"></div>
        <%= form.input :email %>
        <div class="clear"></div>
        <%= form.input :url, :required=>false, :label => 'Website' %>
        <div class="clear"></div>
      </ul>
      <% if @user.is_a?(Surfer) %>
        <ul>
          <%= form.input :friendly, :required=>false, :label => "I'm up for surfing with someone who rents one of my boards" %>
        </ul>
        <div class="clear"></div>
        <ul>
          <li class="attr-name">Member Since</li>
          <li class="value">
            <%= @user.created_at.to_date.strftime("%m/%d/%Y") %>
          </li>
        </ul>
        <div class="clear"></div>
        <ul>
          <li class="attr-name">If you're renting out boards, when is it best for someone to pick them up?</li>
          <li class="value">
            <% for time in PickupTime.find(:all) %>
            <div class="pickup-times">
              <%= check_box_tag "#{current_user.class.to_s.downcase}[pickup_time_ids][]", time.id, @user.pickup_times.include?(time) %>
              <p><%= time.name %></p>
            </div>
            <% end %>
          </li>
        </ul>
        <div class="clear"></div>
      <% end %>
      <ul class="user-desc">
        <% if @user.is_a?(Surfer) %>
          <%= form.input :description, :required=>false, :label => "Surfer Bio" %>
        <% else %>
          <%= form.input :description, :required=>false, :label => "About Your Store" %>
        <% end %>

      </ul>
      <div class="submit">
        <%= form.submit 'Save', :class => 'submitBtn' %>
      </div>
  <% end -%>
  </div>
  <div class="clear"></div>

  <% semantic_form_for @user, :id => 'change_password'  do |form| %>

    <div class="user-info-table">
      <h2>Change Password</h2>
      <ul>
        <%= form.input :password, :required=>false %>
        <div class="clear"></div>
        <%= form.input :password_confirmation, :required=>false %>
        <div class="clear"></div>
      </ul>
      <div class="submit">
        <%= form.submit 'Change', :class => 'submitBtn' %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
