<% content_for :head do %>
  <%= stylesheet_link_tag 'user', :media => 'screen' %>
<% end %>
<h1>Edit My Information</h1>

<p>Leave password fields blank to leave password unchanged.</p>

<% semantic_form_for @user, :url => {:action => "update" }  do |form| %>
  <div class="user-fields">
 	<%= form.input :first_name if !@user.is_rental_shop?%>
	<%= form.input :last_name, :required=>false if !@user.is_rental_shop?%>
	<%= form.input :name if @user.is_rental_shop? %>
	<%= form.input :email %>
	<%= form.input :password, :required=>false %>
	<%= form.input :password_confirmation, :required=>false %>
  </div>

  <div class="submit">
    <%= form.submit 'Save', :class => 'submitBtn' %>
  </div>
<% end -%>
