<% if @error_messages %>
<div id="errorExplanation">
  <%= error_messages_for :user%>
</div>
<% end %>

<h1>New Password</h1>
<div class="login-header">
  <h3>
    Choose a new password
  </h3>
</div>

<% form_for :user, :html => {:id => 'reset-password-form'} do |form| %>
<div class="user-fields">
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div id="two-lines">
    <%= form.label :password_confirmation, 'Password Confirm' %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="session-submit">
    <%= form.submit 'Change Password', :class => 'submitBtn' %>
  </div>
</div>

<% end -%>
