<% content_for :head do %>
  <%= stylesheet_link_tag 'user', 'board', :media => 'screen' %>
<% end %>
<h1 id="user-name"><%=  @user.full_name %></h1>
<% if @user == current_user %>
  <h2 class="is-you">&nbsp;(This is you!</h2>
  <p id="user-edit"><%= link_to "Edit", edit_user_path(:id => current_user.id) %></p>
  <h2 class="is-you">)</h2>
<% end %>
<div class="clear"></div>

<div class="left-column">
  <% if @user.image.nil? %>
    <div id="no-photo-div">
      <div id="centering-div">
        <p class="no-photo">No Photo</p>
      </div>
    </div>
  <% else %>
    <div id="the-photo">
      <div id="centering-div">
        <%= image_tag @user.image.data.url(:user_page), :alt => "user photo" %>
      </div>
    </div>
  <% end %>
</div>
<div class="right-column">
  <div class="user-info-table">
  <h2>Info</h2>
  <% if current_user.nil? %>
    <div id="hidden-user-stuff">
      <%= link_to "Sign up", new_user_path %> or <%= link_to "login", new_session_path %> to see more info about <%= @user.full_name %>
    </div>
    <div class="clear"></div>
  <% else %>
      <ul>
        <li class="attr-name">Email</li>
        <li class="value">
          <%= @user.email %>
        </li>
      </ul>
      <div class="clear"></div>
      <% if @user.is_a?(Surfer) %>
        <ul>
          <li class="attr-name">Member Since</li>
          <li class="value">
            <%= @user.created_at.to_date.strftime("%m/%d/%Y") %>
          </li>
        </ul>
        <div class="clear"></div>
        <ul>
          <li class="attr-name">Will surf with visitors?</li>
          <li class="value">
            <% if @user.friendly %>
              Sure let's go rip
            <%  else %>
              No thanks
            <% end %>
          </li>
        </ul>
        <div class="clear"></div>
        <ul>
          <li class="attr-name tall">Best Time to Pickup Boards</li>
          <li class="value tall">
            <% if @user.pickup_times.empty? %>
              Unspecified
            <%  else %>
              <% @user.pickup_times.each do |time|  %>
                <p><%= time.name %></p>
              <% end %>
            <% end %>
          </li>
        </ul>
      <div class="clear"></div>
    <% end %>
    <ul>
      <li class="attr-name">Website</li>
      <li class="value">
				<% unless @user.website.nil?%>
        <a href="http://<%=h @user.website%>"><%=h @user.website%></a>
				<%end%>
      </li>
    </ul>
    <div class="clear"></div>
  <% end %>

    <div class="user-desc">
      <% if @user.is_a?(Surfer) %>
        <h2><%= @user.first_name %> says</h2>
      <% else %>
        <h2>About <%= @user.name %></h2>
      <% end %>
        <% if @user.description.nil? %>
          <p>...</p>
        <% else %>
          <p><%= @user.description %></p>
        <% end %>

    </div>
  </div>
</div>

<div class="clear"></div>
<div class="user-boards">
  <% if !@user.boards.empty? %>
    <h2>Boards</h2>
    <ul id="list-headings">
      <li class="pic">Pic</li>
      <li class="model">Description</li>
      <li class="medium">Type</li>
      <li class="short">Length</li>
      <li class="short">Fee</li>
      <% if @user == current_user %>
        <li class="short">Delete</li>
      <% end %>
    </ul>
    <%= render :partial => "boards/board", :collection => @user.boards %>
  <% end %>
</div>

