<h1>New black_out_date</h1>

<% form_for(@black_out_date) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :board_id %><br />
    <%= f.text_field :board_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', black_out_dates_path %>