
<div id="sideBar">
  <div id="feature-holder">
    <span class="feature-header">Latest shop to join</span>
    <div id="newest-shop" class="feature">
      <% shop = most_recent_shop %>
      <% if shop.nil? %>
        <div class="first-link-outer">
          <div id="centering-div">
            <p class="first-link">
              <%= link_to "Be the first shop!", new_user_path %>
            </p>
          </div>
        </div>
      <% else %>
        <div class="feature-image">
          <div id="centering-div">
            <%= image_tag(shop.image.data.url(:thumb)) unless shop.nil? or shop.image.nil? %>
          </div>
        </div>
        <div class="feature-desc">
            <span class="bold"><%= link_to shorten(shop.name,15), user_path(shop) unless shop.nil? %></span><br/><br/>
            Has <span class="bold"><%= link_to shop.boards.active.length, user_path(shop) unless shop.nil? %></span> boards listed
        </div>
      <% end %>
    </div>
    <span class="feature-header">Most popular board</span>
    <div id="most-popular-board" class="feature">
      <% board = most_popular_board %>
      <% if board.nil? %>
        <div class="first-link-outer">
          <div id="centering-div">
            <p class="first-link">
              <%= link_to "Make the first reservation!", new_board_search_path %>
            </p>
          </div>
        </div>
      <% else %>
        <div class="feature-image">
          <div id="centering-div">
            <%= image_tag(board.images.first.data.url(:thumb)) unless board.nil? %>
          </div>
        </div>
        <div class="feature-desc">
          <span class="bold">"<%= link_to shorten(board.name,15), board_path(board) unless board.nil? %>"</span><br/><br/>
          Listed by: <span class="bold"><%= link_to shorten(board.creator.full_name,20), user_path(board.creator) unless board.nil? %></span>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- #sideBar -->

