<% content_for :head do %>
  <%= stylesheet_link_tag 'board', 'overview', :media => 'screen' %>
<% end %>

<div id="overview-left">
  <% if current_user.is_a?(Surfer) %>
    <h1>What's in your quiver?</h1>
  <% else %>
    <h1>Your rental fleet</h1>
  <% end %>
  <div id="my-boards">
    <% if current_user.is_a?(Surfer) %>
      <h2>Boards you've added to the Global Quiver</h2>
      <%if current_user.owned_boards.empty? %>
      <p>You haven't added any boards to the Global Quiver.  Maybe you don't have any extras or don't live by the coast.  But if you do have extras, please consider making the community better by
        <%= link_to "adding one", new_board_url %>
      </p>
      <% end %>
    <% else %>
      <h2>Below are the boards you are tracking via Global Quiver:</h2>
      <%if current_user.owned_boards.empty? %>
      <p>You haven't set up your shop on Global Quiver yet.  Get started by </p>
      <%= link_to "adding a board.", new_board_url %>
      <% end %>
    <% end %>
    <% if !current_user.owned_boards.empty? %>
      <div class="view-tabs">
        <%= link_to "Board View" %> |
        <%= link_to "Calendar View" %>
      </div>
      <ul id="list-headings">
        <li>Pic</li>
        <li>Model</li>
        <li class="medium">Type</li>
        <li class="short">Length</li>
        <li class="short">Delete</li>
      </ul>
      <%= render :partial => "boards/board", :collection => @user.owned_boards %>
    <% end %>
    <br/>
    <br/>
    <br/>
  </div>
  <% if current_user.is_a?(Surfer) %>
  <div id="my_board_reservations">
    <h2>Boards you've reserved in the Global Quiver</h2>
    <%if current_user.reserved_boards.empty? %>
      <p>You don't have any board reservations yet.  Get started by <%= link_to "finding a board.", new_board_search_url %></p>
    <% end %>
    <% if !current_user.reserved_boards.empty? %>
      <div class="view-tabs">
        <%= link_to "Board View" %> |
        <%= link_to "Calendar View" %>
      </div>
      <ul id="list-headings">
        <li>Pic</li>
        <li>Model</li>
        <li class="medium">Type</li>
        <li class="short">Length</li>
      </ul>
      <%= render :partial => "boards/board", :collection => @user.reserved_boards %>
    <% end %>
  </div>
  <% end %>

</div>


