<% content_for :head do %>
  <%= stylesheet_link_tag 'board', 'reservation', 'overview', :media => 'screen' %>
  <%= javascript_include_tag 'jquery/form/jquery.form' %>
<% end %>

<% content_for :javascript do %>

$(document).ready(function() {
  $('.edit_board').ajaxForm({
    dataType: 'script',
    beforeSubmit: function(arr, $form, opts) {
      // add form id to options object
      opts.formId = $form.attr('id');
    },
    success: function(responseText) {
       // 'this' is the options object, so we can access 'formId' on 'this'
       addFlash(this.formId);
    }
  });
    $('.edit_reservation').ajaxForm({
      dataType: 'script',
      beforeSubmit: function(arr, $form, opts) {
      // add form id to options object
      if (!confirm("Are you sure you want to delete this reservation?")) {
        return false;
      }
      opts.formId = $form.attr('id');
    },
    success: function(responseText) {
      // 'this' is the options object, so we can access 'formId' on 'this'
      addFlash(this.formId);
    }
  });
});

<% end %>
<div id="overview-left">
  <% if current_user.is_a?(Surfer) %>
    <h1>What's in your quiver?</h1>
  <% else %>
    <h1>Your rental fleet</h1>
  <% end %>
  <div id="my-boards">
    <% if current_user.is_a?(Surfer) %>
      <h2>Boards you've added to the Global Quiver</h2>
      <%if current_user.boards.empty? %>
      <p>You haven't added any boards to the Global Quiver.  Maybe you don't have any extras or don't live by the coast.  But if you do have extras, please consider making the community better by
        <%= link_to "adding one", new_board_url %>
      </p>

      <% end %>
    <% else %>
      <h2>Below are the boards you are tracking via Global Quiver:</h2>
      <%if current_user.boards.empty? %>
      <p>You haven't set up your shop on Global Quiver yet.  Get started by <%= link_to "adding a board", new_board_url %>.</p>
      <% end %>
    <% end %>
    <% if !current_user.boards.empty? %>
      <div class="view-tabs">
        <%= link_to "Board View" %> |
        <%= link_to "Calendar View" %>
      </div>
      <ul id="list-headings">
        <li class="pic">Pic</li>
        <li class="model">Model</li>
        <li class="medium">Type</li>
        <li class="short">Length</li>
        <li class="short">Daily Fee</li>
        <li class="short">Manage</li>
      </ul>
      <%= render :partial => "boards/board", :collection => current_user.boards %>
    <% end %>
    <br/>
    <br/>
    <br/>
  </div>
    <br/>
    <br/>
  <% if current_user.is_a?(Surfer) %>
  <div id="my-board-reservations">
    <h2>Reservations for boards in the Global Quiver</h2>
    <%if current_user.reservations.active.blank? %>
      <p>You don't have any board reservations yet.  Get started by <%= link_to "finding a board.", new_board_search_url %></p>
    <% else %>
      <div class="view-tabs">
        <%= link_to "Calendar View" %>
      </div>
      <ul id="list-headings">
        <li class="long">Board</li>
        <li class="long">Board Owner</li>
        <li class="long">Start Date</li>
        <li class="medium">Cancel</li>
      </ul>
      <%= render :partial => "reservations/reservation", :collection => current_user.reservations.active %>
    <% end %>
  </div>
  <% end %>
    <br/>

</div>


