<% content_for :javascript do %>
  $(document).ready(function() {
    $(".reservation-link<%=reservation.id%>").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });

    $(".reservation-link<%=reservation.id%>").mouseover(function() {
      $(".reservation-link<%=reservation.id%>").css("background-color","#C5C2C4");
    });

        $(".reservation-link<%=reservation.id%>").mouseout(function() {
      $(".reservation-link<%=reservation.id%>").css("background-color","#eeeeee");
    });
    
  });

<% end %>

<ul id="list-table">
  <li class="reservation-link<%=reservation.id%> squat long">
    <div id="centering-div">
      <p>
        <%= link_to "", reservation_path(reservation)%>
        <%=h reservation.board.model %> by <%=h reservation.board.maker%>
      </p>
    </div>
  </li>
  <li class="reservation-link<%=reservation.id%> squat long">
    <div id="centering-div">
      <p>
        <%= link_to "", reservation_path(reservation)%>
        <%=h reservation.board.creator.full_name%>
      </p>
    </div>
  </li>
  <li class="reservation-link<%=reservation.id%> squat long">
    <div id="centering-div">
      <p>
        <%= link_to "", reservation_path(reservation)%>
        <%=h reservation.reserved_dates.first.date%>
      </p>
    </div>
  </li>
  <% if reservation.creator == current_user %>
    <li class="reservation-delete<%=reservation.id%> squat medium">
      <div id="centering-div">
        <% if reservation.too_near_to_delete %>
        <p>
          Coming up within a day
        </p>
        <% else %>
        <p class="big-x">
          <% form_for reservation, :html => { :method => :delete } do |f| %>
            <%= f.submit "X" %>
          <% end %>
        </p>
        <% end %>
      </div>
    </li>
  <% else %>
    <li class="reservation-link<%=reservation.id%> squat medium">
      <div id="centering-div">
        <p>
          <%= link_to "", reservation_path(reservation)%>
          <%=h reservation.reserved_dates.length%>
        </p>
      </div>
  </li>
  <% end %>
</ul>
<div class="clear"></div>