<% content_for :head do %>
  <%= stylesheet_link_tag 'datePicker', 'unavailable_dates', 'reservation', :media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date',
		'jquery/date_picker/jquery.datePicker',
		'jquery/date_picker/datePickerMultiMonth',
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'reservations/new'%>

<% end %>
<div id="date-selection">
	<h1>1) Choose Reservation Dates</h1>
	<h2>Which days would you like to reserve this board?</h2>
	<h3>Select the days you want by clicking the dates in the calendar below.</h3>
	<%= render :partial => '/unavailable_dates/form', :locals => { :board => @reservation.board } %>
</div>
<div id="reservation-confirmation">
	<% form_for :reservation, :url => { :action => "create" } do |f| %>
  	<%= f.error_messages %>
  	<h1>2) Confirm and submit your reservation</h1>
		<div id="board-info">
			<h2><%= h@reservation.board.model %> by <%= h@reservation.board.maker %></h2>
			<h2>Board Owner: <%= h@reservation.board.creator.full_name %></h2>
		</div>
		<div id="dates">
			<h2>Dates:</h2>
			<ul>
			</ul>
		</div>
		<div id="cancel-reservation">
      	<%= link_to "Cancel Reservation", board_path(@reservation.board) %>
  		</div>
  		<div id="submit-reservation">
      	<%= f.submit "Submit Reservation", :class => 'submitBtn' %>
  		</div>
		<% end %>
</div>

