<% content_for :head do %>
  <%= stylesheet_link_tag 'reservation', :media => 'screen' %>
<%  end %>

<h1>Reservation
  <% if !@reservation.deleted_at.nil? %>
    <span class="canceled-reservation">(Canceled)</span>
    </h1>
    <p>
      <%= link_to "Return to home page", root_path %>
  <% else %>
    </h1>
    <% if @reservation.too_near_to_delete %>
      <p>
        Reservations less than a day from now can't be canceled.
        If you can't make it, please contact <%= link_to @reservation.board.creator.full_name, user_path(@reservation.board.creator) %>
      </p>
    <% else %>
      <% if @reservation.creator == current_user %>
        <p>
          <%= link_to "Click to Cancel", @reservation, :confirm => "Are you sure you want to cancel this reservation?", :method=>:delete%>
        </p>
      <% end %>
    <% end %>
  <% end %>

<div id="info-table">
  <h2>Board Info</h2>
  <ul>
    <% if @reservation.board.creator.is_a?(Surfer) %>
      <li class="attr-name">NickName</li>
    <% else %>
      <li class="attr-name">Name/ID</li>
    <% end %>
    <li class="value">
      <%=h @reservation.board.name %>
    </li>
  </ul>
  <div class="clear"></div>
  <ul>
    <li class="attr-name">Maker</li>
    <li class="value">
      <%=h @reservation.board.maker %>
    </li>
  </ul>
  <div class="clear"></div>
  <ul>
    <li class="attr-name">Model</li>
    <li class="value">
      <%=h @reservation.board.model %>
    </li>
  </ul>
  <div class="clear"></div>
  <br/>
  <h2>Board Owner Info</h2>
  <ul>
    <li class="attr-name">Name</li>
    <li class="value">
      <%= link_to @reservation.board.creator.full_name, user_path(@reservation.board.creator.id) %><br/><% if current_user == @reservation.board.creator %>That's you!<% end %>
    </li>
  </ul>
  <div class="clear"></div>
  <br/>

  <h2>Reservation Holder Info</h2>
    <li class="attr-name">Name</li>
    <li class="value">
      <%= link_to @reservation.creator.full_name, user_path(@reservation.creator.id) %><br/><% if current_user == @reservation.creator %>That's you!<% end %>
    </li>
  </ul>
  <div class="clear"></div>
  <br/>
  <h2>Reservation Dates</h2>

  <%@reservation.reserved_dates.each do |reservation_date|%>
    <ul>
      <li class="attr-name"><%=h reservation_date.date.strftime('%A') %></li>
      <li class="value">
        <%=h reservation_date.date.strftime('%m/%d/%Y') %>
      </li>
    </ul>
    <div class="clear"></div>
  <%end%>
  <br/>
</div>
