<% content_for :javascript do %>
$(document).ready(function() {
  $(".board-link<%=board.id%>").click(function(){
    window.location=$(this).find("a").attr("href"); return false;
  });

  $(".board-link<%=board.id%>").mouseover(function() {
    $(".board-link<%=board.id%>").css("background-color","#C5C2C4");
  });

  $(".board-link<%=board.id%>").mouseout(function() {
    $(".board-link<%=board.id%>").css("background-color","#eeeeee");
  });
});
<% end %>
<ul id="list-table">
  <li class="board-link<%=board.id%> pic">
    <p>
      <%= link_to "", board_path(board)%>
      <% if board.images.first.nil? %>
        <span class="muted-text">No Photo</span>
    
      <% else %>
    
        <%= image_tag(board.images.first.data.url(:thumb)) if !board.images.empty? %>
    
      <% end %>
    </p>
  </li>
  <li class="board-link<%=board.id%> model">
    <p>
      <%= link_to "", board_path(board)%>
      <%=h board.model %> by <%=h board.maker%>
    </p>
  </li>
  <li class="board-link<%=board.id%> medium">
    <p>
      <%= link_to "", board_path(board)%>
      <%=h board.style.name%>
    </p>
  </li>
  <li class="board-link<%=board.id%> short">
    <p>
      <%= link_to "", board_path(board)%>
      <%=h board.length_feet%>' <%=h board.length_inches%>"
    </p>
  </li>
  <li class="board-link<%=board.id%> short">
    <p>
      <%= link_to "", board_path(board)%>
      <% if board.daily_fee == 0.00 %>
        Free!
      <% else %>
        $<%= sprintf("%.2f", board.daily_fee) %>
      <% end %>
    </p>
  </li>
  <% if board.user_is_owner(current_user) && !current_page?(:controller => 'board_searches', :action => 'show') %>
    <li class="board-delete short">
      <p>
        <% form_for board do |f| %>
          <% if board.active? %>
            <%= f.hidden_field :inactive, :value => "true" %>
            <%= f.submit "Remove\nfrom\nquiver" %>
          <% else %>
            <%= f.hidden_field :inactive, :value => "false" %>
            <%= f.submit "Add\nto\nquiver" %>
          <% end %>
        <% end %>
      </p>
    </li>
  <%  end %>
</ul>
<div class="clear"></div>