<% content_for :javascript do %>
$(document).ready(function() {
  $(".board-link<%=board.id%>").click(function(){
    window.location=$(this).find("a").attr("href"); return false;
  });

  $(".board-link<%=board.id%>").mouseover(function() {
    $(".board-link<%=board.id%>").css("background-color","#C5C2C4");
  });

  $(".board-link<%=board.id%>").mouseout(function() {
    $(".board-link<%=board.id%>").css("background-color","#eeeeee");
  });
});
<% end %>
<% if board.is_a?(GenericBoard) %>
<div id="generic-board-header">
  <% if current_user.is_a?(Shop) %>
    <p>
      The listing below represents a type of board. When your customers reserve it, they
      will expect the board they get to be within the range that is described.
    </p>
  <% else %>
    <p>
      The listing below represents a type of board. If you reserve it, you'll be
      reserving a board from the range described rather than a specific board.
    </p>
  <% end %>
</div>
<% end %>
<ul id="list-table">
  <li class="board-link<%=board.id%> pic">
    <div id="centering-div">
      <%= link_to "", board_path(board)%>
      <% if board.images.first.nil? %>
        <span class="muted-text">No Photo</span>
    
      <% else %>
    
        <%= image_tag(board.images.first.data.url(:thumb)) if !board.images.empty? %>
    
      <% end %>
    </div>
  </li>
  <li class="board-link<%=board.id%> model">
    <div id="centering-div">
      <p>
        <%= link_to "", board_path(board)%>
        <% if board.is_a?(SpecificBoard) %>
          <%=h board.model %> by <%=h board.maker%>
        <% else %>
          Rental Set:<br/>
          <%=h board.name %>
        <% end %>
      </p>
    </div>
  </li>
  <li class="board-link<%=board.id%> medium">
    <div id="centering-div">
      <p>
        <%= link_to "", board_path(board)%>
        <%=h board.style.name%>
      </p>
    </div>
  </li>
  <li class="board-link<%=board.id%> short">
    <div id="centering-div">
      <p>
        <%= link_to "", board_path(board)%>
        <% if board.is_a?(SpecificBoard) %>
          <%=h board.length_feet%>' <%=h board.length_inches%>"
        <% else %>
          <%=h board.lower_length_feet%>' <%=h board.lower_length_inches%>"<br/>
          to<br/>
          <%=h board.upper_length_feet%>' <%=h board.upper_length_inches%>"
        <% end %>
      </p>
    </div>
  </li>
  <li class="board-link<%=board.id%> short">
    <div id="centering-div">
      <p>
        <%= link_to "", board_path(board)%>
				<%= get_fee_text_for_board(board)%><br/>
        <%= h get_fee_amounts_for_board(board)%>
      </p>
    </div>
  </li>
  <% if board.user_is_owner(current_user) && !current_controller?("board_searches") %>
    <li class="board-delete short">
      <div id="centering-div">
        <p>
          <% form_for :board, :url => boards_url do |f| %>
            <% if board.active? %>
              <%= f.hidden_field :inactive, :value => "true" %>
              <%= f.submit "Remove\nfrom\nquiver" %>
            <% else %>
              <%= f.hidden_field :inactive, :value => "false" %>
              <%= f.submit "Add\nto\nquiver" %>
            <% end %>
          <% end %>
        </p>
      </div>
    </li>
  <%  end %>
</ul>
<div class="clear"></div>