<h1>Editing board</h1>

<% form_for(@board) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :maker %><br />
    <%= f.text_field :maker %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :thickness %><br />
    <%= f.text_field :thickness %>
  </p>
  <p>
    <%= f.label :style_id %><br />
    <%= f.text_field :style_id %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @board %> |
<%= link_to 'Back', boards_path %>