<% content_for :head do %>
  <%= GMap.header %>
  <%= @map.to_html %>
  <%= javascript_include_tag 'newboard.js', 'json2.js' %>
<% end %>

<h1>Find boards to borrow or rent</h1>
<br>
<h3>On this page you can enter information about what type of board you're looking for</h3>
<h3>along with where and when you'll be surfing.  We'll match these criteria with</h3>
<h3>boards available for your trip.  You can also just browse if you want.</h3>
<br>
<h2>First, where are you planning on surfing?</h2>
<%= render :partial => '/locations/new', :object => @location %>


<% if !@locations.nil? %>

  <%= render :partial => '/locations/list', :object => @locations %>

<%  end %>



<% form_tag boards_path, :method => 'get' do %>
  <%= render :partial => '/locations/form', :object => @location %>
  <p>
    <%= submit_tag "Search by location", :name => nil %>
  </p>
<% end %>


  <% if @boards.empty? %>
  <p>
    We couldn't find any boards where you're planning on going.  Try a different search.
  </p>
  <%  else %>
  <ul id="board_list">
    <% for board in @boards %>
      <li>
        <%= link_to board.maker, board_path(board) %> <span><%= board.model %> <%= board.style ? board.style.name : "" %>, <%= board.length_feet %>' <%= board.length_inches %>" </span>
      </li>
    <% end %>
  </ul>
  <% end %>

