<% content_for :head do %>
  <%= GMap.header %>
  <%= @map.to_html %>
  <%= javascript_include_tag 'newboard.js', 'json2.js' %>
<% end %>

<h1>Find boards to borrow or rent</h1>
<br>
<h3>On this page you can enter information about what type of board you're looking for</h3>
<h3>along with where and when you'll be surfing.  We'll match these criteria with</h3>
<h3>boards available for your trip.  You can also just browse if you want.</h3>
<br>
<h2>First, where are you planning on surfing?</h2>
<%= render :partial => '/locations/new', :object => @location %>

<div id="searchForm">

<% form_tag boards_path, :class => 'new_board', :method => 'get' do %>
  <% if !@locations.nil? and !@locations.empty? %>

    <%= render :partial => '/locations/list', :object => @locations %>

  <%  end %>
  <%= render :partial => '/locations/form', :object => @location %>
  <p>
    <%= submit_tag "Search by location", :name => nil %>
  </p>
<% end %>

</div>

<div id="searchResults">

  <% if !@boards or @boards.empty? %>
  <p>
    We couldn't find any boards where you're planning on going.  Try a different search.
  </p>
  <%  else %>
  <ul id="board_list">
    <% for board in @boards %>
      <li>
        <span>Maker: </span><%= (board.maker.empty?)?"n/a":link_to(board.maker, board_path(board)) %> <span>Model: <%= (board.model.empty?)?"n/a":board.model %> Style: <%= board.style ? board.style.name : "n/a" %>, Length: <%= board.length_feet %>' <%= board.length_inches %>" <% if @location.geocode %>  Distance: <%= board.location.distance_to(@location).round(1) %>  miles <% end %> </span>
      </li>
    <% end %>
  </ul>
  <% end %>


</div>
