<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'location',
 	'datePicker',
 	'unavailable_dates',
 	'jquery/auto_complete/jquery.autocomplete',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date', 
		'jquery/date_picker/jquery.datePicker', 
		'jquery/date_picker/datePickerMultiMonth', 
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'jquery/hint/jquery.hint',
                'boards/new',
                'unavailable_dates/new',
                'jquery/auto_complete/jquery.autocomplete.pack'%>

<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $("input#board_style_name").autocomplete("/autocomplete/style/name");
    $('input[title!=""]').hint();
<% end %>

<h1>List a board for borrow or rent</h1>

<div class="owners-instructions">
  <h3>When you enter one of your extra surfboards below, it will be added to your quiver.</h3>
  <h3>If someone wants to borrow or rent it, we'll send you an email.</h3>
  <h3>You will then need to reply with pickup and payment instructions.</h3>
</div>

<h2>First, where is this board?</h2>
<p>We need to know where your board is so that whoever rents or borrows it will be able to find it, pick it up, and use it<p>

<%= render :partial => '/board_locations/list' %>

<% form_for @board, :html => {:name => "new_board_form", :multipart => true } do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :location_id %>

<hr/>
<div id="boardDetails">
  <h2>Next, tell us about the board.</h2>
  <p>Different surfers and different conditions require different boards.  Describe yours below:</p>
  <div class="form-fields">
    <p>
      <%= f.label :maker, "Maker: (for example Channel Islands)" %><span id="required_star">*</span><br />
      <%= f.text_field :maker %>
    </p>
    <p>
      <%= f.label :model, "Model: (for example Flyer)" %><br />
      <%= f.text_field :model %>

    </p>
    <p>
      <%= f.label :length, "Length: (for example, mine is a 6'4\")" %><br />
      <input id="board_length_feet" name="board[length_feet]" size="4" type="text" title="feet" />
      <input id="board_length_inches" name="board[length_inches]" size="4" type="text" title="inches" />
    </p>
    <p>
      <%= f.label :style_name, "Style: (for example, thruster, fish, longboard.  If you're not sure, then just tell us if it's a longboard or shortboard)" %><span id="required_star">*</span><br />
      <%= f.text_field :style_name, :autocomplete =>"off" %>
    </p>
    <p><a id='hide_show_optional_fields' href="javascript:void(0)"><span id='visibility_indicator'>Show</span> Optional Fields</a>
    </p>
    <div id="optional_fields">
      <p>
        <%= f.label :width, "Width: (you can skip this question if you don't know)" %><br />
        <input id="board_width_inches" name="board[width_inches]" size="4" type="text" title="inches" />
        <%= f.select :width_fraction, fractions, {}, :class => "fraction_dropdown" %>
      </p>
      <p>
        <%= f.label :thickness, "Thickness: (you can skip this if you don't know)" %><br />
        <input id="board_thickness_inches" name="board[thickness_inches]" size="4" type="text" title="inches" />
        <%= f.select :thickness_fraction, fractions, {}, :class => "fraction_dropdown"  %>
      </p>

      <p>
        <%= f.label :construction, "Construction: (for example fiberglass or tufflite.  skip this one if you're not sure)" %><br />
        <%= f.text_field :construction %>
      </p>
      <p>
        <%= f.label :description, "Anything else you want to mention about this board?" %><br />
        <%= f.text_area :description, :size => "60x2"%>
      </p>
    </div>
  </div>
  <br/>
  <hr/>
  <h2>Upload some pictures</h2>
  <p>Please try and demonstrate the real condition of the board in your pictures.</p>

  <%for image in @board.images%>
  <p>
          <% f.fields_for :images, image do |image_fields| -%>
                  <%= image_fields.label :data, 'Your image' -%>
                  <%= image_fields.file_field :data -%>
          <% end -%>
  </p>
          <%end%>
  <br/>
  <hr/>
  <%= render :partial => '/unavailable_dates/form' %>
  <br>
  <p>
    <%= f.submit 'Create' %>
  </p>
</div>
  
<% end %>

