<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'location',
 	'datePicker',
 	'unavailable_dates',
 	'jquery/auto_complete/jquery.autocomplete',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date', 
		'jquery/date_picker/jquery.datePicker', 
		'jquery/date_picker/datePickerMultiMonth', 
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'jquery/hint/jquery.hint',
                'boards/new',
                'unavailable_dates/new',
                'jquery/auto_complete/jquery.autocomplete.pack'%>

<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $('input[title!=""]').hint();
  });

<% end %>

<h1>List a board for borrow or rent</h1>

<div class="owners-instructions">
  <p>
    When you enter one of your extra surfboards below, it will be added to your quiver.
    If someone wants to <% if current_user.is_a?(Surfer) %>borrow or <% end %>rent it, we'll send you an email.
    You will then need to reply with pickup and payment instructions.
  </p>
</div>

<h2>First, where is this board?</h2>
<p>
  We need to know where your board is so that whoever rents or borrows it will be able to find it, pick it up, and use it
</p>

<%= render :partial => '/board_locations/list' %>

<% form_for :board, :url => boards_url, :html => {:name => "new_board_form", :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :location_id %>
<br/>
<hr/>
<% if current_user.is_a?(Shop) %>
  <div id="board-typ">
    <h2>Listing type</h2>
    <p>
      Is this a specific board or does this listing represent one of many different possible boards?
    </p>
    <div class="fields">
      <p><input type="radio" id="specific-board" name="board_type" value="SpecificBoard" checked> Specific board that users can reserve</p>
      <p><input type="radio" id="generic-board" name="board_type" value="GenericBoard"> <label>Represents one of many boards like it. Users won't know exactly what board they get until they arrive</p>
    </div>
  </div>
  <br/>
  <hr/>
<% end %>
<div id="boardDetails">
  <h2>Next, tell us about the board.</h2>
  <p>Different surfers, different waves, and different conditions require different boards. Describe yours below:</p>
  <div class="fields">
    <% if current_user.is_a?(Surfer) %>
      <p>
        <%= f.label :name, "Nickname: (every board should have a nickname. Make one up if it doesn't have one already.)" %><span id="required_star">*</span><br />
        <%= f.text_field :name %>
      </p>
    <% else %>
      <p>
        <%= f.label :name, "Name/ID: (enter a name or ID for this board)" %><span id="required_star">*</span><br />
        <%= f.text_field :name %>
      </p>
    <% end %>
    <div id="maker-model-length">
      <p>
        <%= f.label :maker, "Maker: (for example Channel Islands)" %><span id="required_star">*</span><br />
        <%= f.text_field :maker %>
      </p>
      <p>
        <%= f.label :model, "Model: (for example Flyer)" %><br />
        <%= f.text_field :model %>
      </p>
      <p>
        <%= f.label :length, "Length: (for example, mine is a 6'4\")" %><br />
        <input id="board_length_feet" name="board[length_feet]" size="4" type="text" title="feet" />
        <input id="board_length_inches" name="board[length_inches]" size="4" type="text" title="inches" />
      </p>
    </div>
    <div id="upper-and-lower-lengths" style="display:none">
      <p>
        <%= f.label :lower_length, "Shortest length available for this type of board:" %><br />
        <input id="board_lower_length_feet" name="board[lower_length_feet]" size="4" type="text" title="feet" disabled="true"/>
        <input id="board_lower_length_inches" name="board[lower_length_inches]" size="4" type="text" title="inches" disabled="true"/>
      </p>
      <p>
        <%= f.label :upper_length, "Longest length available for this type of board:" %><br />
        <input id="board_upper_length_feet" name="board[upper_length_feet]" size="4" type="text" title="feet" disabled="true"/>
        <input id="board_upper_length_inches" name="board[upper_length_inches]" size="4" type="text" title="inches" disabled="true"/>
      </p>
    </div>
    <p>
      <%= f.label :style_id, "Style:" %><span id="required_star">*</span><br />
      <%= f.collection_select :style_id, Style.all, :id, :name, {:prompt => ""} %>
      <% if admin? %>
        <%= link_to "Manage board styles", styles_path %>
      <% end %>
    </p>
    <p><a id='hide_show_optional_fields' href="#" onclick="javascript:void(0); return false;"><span id='visibility_indicator'>Show</span> Optional Fields</a>
    </p>
    <div id="optional_fields" style="display:none;">
      <div id="width-thickness-construction">
        <p>
          <%= f.label :width, "Width: (you can skip this question if you don't know)" %><br />
          <input id="board_width_inches" name="board[width_inches]" size="4" type="text" title="inches" />
          <select name="board[width_fraction]" id="board_width_fraction" class="fraction_dropdown">
            <%= options_for_select fractions %>
          </select>

        </p>
        <p>
          <%= f.label :thickness, "Thickness: (you can skip this if you don't know)" %><br />
          <input id="board_thickness_inches" name="board[thickness_inches]" size="4" type="text" title="inches" />
          <select name="board[width_fraction]" id="board_width_fraction" class="fraction_dropdown"><option value="0">fractional inches</option>
            <%= options_for_select fractions %>
          </select>
        </p>
        <p>
          <%= f.label :construction, "Construction: (for example fiberglass or tufflite.  skip this one if you're not sure)" %><br />
          <%= f.text_field :construction %>
        </p>
      </div>
      <p>
        <%= f.label :description, "Anything else you want to mention about this board?" %><br />
        <%= f.text_area :description, :size => "60x2"%>
      </p>
    </div>
  </div>
  <br/>
  <hr/>
  <% if current_user.is_a?(Surfer) %>
    <div class="explanation">
      <h2>Make some money from your board.</h2>
      <p>
        You can set a daily rental fee or lend out your boards for free. It's completely up to you.
        For the record, if you rent just one board for 20 or 30 days at a typical daily rate, you'll
        have made enough money to get a new board!
      </p>
    </div>
    <div class="fields">
      <p>
        <%= f.label :daily_fee, "Daily Fee: (Put in any amount or 0 if you want to pass along the stoke for free)" %><br />
        $<%= f.text_field :daily_fee, :size => 4 %>
      </p>
    </div>
  <% else %>
    <div class="explanation">
      <h2>Daily rental fee</h2>
      <p>
        Set the daily rental fee below. All board renters will see this fee on this site and expect to pay it
        in person at your shop.
      </p>
    </div>
    <div class="fields">
      <p>
        <%= f.label :daily_fee, "Daily Fee:" %><br />
        $<%= f.text_field :daily_fee, :size => 5 %>
      </p>
    </div>
  <% end %>
  <br/>
  <hr/>
  <div class="explanation">
    <h2>Upload some pictures.</h2>
    <p>
      Please try and demonstrate the real condition of the board in your pictures. Max file size per picture is
      600KB. Also we don't crop your pictures, but they're all displayed in square boxes, so square pictures will
      look best in the search results.
    </p>
  </div>
  <div class="fields">
  <% @board.images.each_with_index do |image, index| %>
    <p>
      <% f.fields_for :images, image do |image_fields| -%>
        <%= image_fields.label :data, 'Your image' -%>
        <input type="file" size="30" name="board[images_attributes][<%=index%>][data]" id="board_images_attributes_<%=index%>_data">
      <% end -%>
    </p>
  <%end%>
  </div>
  <br/>
  <hr/>
  <div class="explanation">
    <h2>Which days is this board <strong>not</strong> available?</h2>
    <p>
       Select the days you won't be able to rent or lend this board and click the button below.
       You can always return to change these dates later.
    </p>
  </div>
  <%= render :partial => '/unavailable_dates/form', :locals => { :board => @board } %>
  <div id="submit-unavailable-dates">
    <%= f.submit 'Create', :class => 'submitBtn', :id => "new-board-submit" %>
  </div>
</div>
  
<% end %>

