<% content_for :head do %>
  <%= GMap.header %>
  <%= @map.to_html %>
<%= javascript_include_tag 'locations/new', 'board_locations/new' %>
<%= stylesheet_link_tag 'location', :media => 'screen' %>
<% end %>


<h1>First, where is this board?</h1>

<div id="locationFields">
  <form id="addressForm"action="#" onsubmit="showAddress(this.address.value); return false;">
    <div class="location-instructions">
      <% if current_user.is_a?(Shop) %>
        <h2>Put in your shop address unless you want people to pick up rental boards at</h2>
        <h2>some other location, in which case, put in the address of that location.</h2>
      <% else %>
        <h2>Put in the address where you would want someone to come and pick up this</h2>
        <h2>board. It can be your house or a public beach, or anywhere else that makes</h2>
        <h2>the most sense for you.</h2>
      <%  end %>
    </div>
    <h3>Enter an address below or click a location on the map to select a location.</h3>
    <br>
    <input id="addressInput" type="text" name="address" value="" />
    <input id="addressLookup" type="submit" value="Find" />
<% if !@existing_locations.empty? %>
    <%= link_to 'Use Existing Location', new_board_path, :class=>'call_to_action' %>
<%end%>
    <%= @map.div(:width => 710, :height => 400) %>

  </form>


  <% form_for @board_location do |f| -%>
    <%= f.hidden_field :street %>
    <%= f.hidden_field :locality %>
    <%= f.hidden_field :region %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :country %>
    <% fields_for @board do |field| %>
      <%= field.hidden_field :id %>
    <% end %>
    <%= f.submit 'Use this location', :class => 'submitBtn' %>
  <% end -%>
  
</div>