<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'datePicker',
 	'availability',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date',
		'jquery/date_picker/jquery.datePicker',
		'jquery/date_picker/datePickerMultiMonth',
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'unavailable_dates/new'%>

<% end %>
<p>
  <b>Maker:</b>
  <%=h @board.maker %>
</p>

<p>
  <b>Model:</b>
  <%=h @board.model %>
</p>

<p>
  <b>Length:</b>
  <%=h @board.length %>
</p>

<p>
  <b>Width:</b>
  <%=h @board.width %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @board.thickness %>
</p>

<p>
  <b>Style:</b>
  <%=h @board.style.name%>
</p>

<p>
  <b>Construction:</b>
  <%=h @board.description %>
</p>

<p>
  <b>Description:</b>
  <%=h @board.description %>
</p>

<p>
  <b>Board Owner:</b>
  <%=h @board.creator.full_name %>
</p>


<p>
  <b>Location:</b>
  <%=h @board.location.locality %>, <%=h @board.location.region %> <%=h @board.location.country %>
</p>

<p>
  <b>Photos:</b>
<% @board.images.each do |image| %>
  <%= image_tag image.data.url()%>
<%end%>
</p>

<% form_for @board, :html => {:multipart => true } do |f| %>
  <%= f.error_messages %>

    <%= render :partial => '/unavailable_dates/form' %>
    

<%end%>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back to Overview', overview_path %>