<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'datePicker',
 	'unavailable_dates',
	'jquery/colorbox/colorbox',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date',
		'jquery/date_picker/jquery.datePicker',
		'jquery/date_picker/datePickerMultiMonth',
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'unavailable_dates/new'%>
<%= javascript_include_tag 'jquery/colorbox/jquery.colorbox-min'%>

<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $(".large_board_image").colorbox();
    $("#how-link").click(function () {
      $("#how-words").toggle(600);
      return false;
    });
  });

<% end %>

<h1>Board Details</h1>

<div id="info-table">
  <h2>Info</h2>
  <ul>
    <li class="attr-name">Maker</li>
    <li class="value">
      <%=h @board.maker %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Model</li>
    <li class="value">
      <%=h @board.model %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Length</li>
    <li class="value">
      <%=h @board.length_feet %>' <%=h @board.length_inches %>"
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Width</li>
    <li class="value">
      <% if !@board.width.nil? %>
        <%=h @board.width_inches %> <%=h @board.width_fraction %>"
      <% end %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Thickness</li>
    <li class="value">
      <% if !@board.thickness.nil? %>
        <%=h @board.thickness_inches %> <%=h @board.thickness_fraction %>"
      <% end %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Style</li>
    <li class="value">
      <%=h @board.style.name%>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Construction</li>
    <li class="value">
      <%=h @board.description %>
    </li>
  </ul>
  <div class="clear"></div>
  
  <ul>
    <li class="attr-name">Board Owner</li>
    <li class="value">
			<%= owner_html_for(current_user, @board) %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Location</li>
    <li class="value">
      <%=h @board.location%>
    </li>
  </ul>
  <div class="clear"></div>
  <% if !@board.description.nil? %>
  <h2>Description</h2>
  <p class="description"><%= h @board.description %></p>
  <% end %>
</div>

<div id="photos">
  <h2>Photos</h2>

	<%(0...Board::MAX_IMAGES).each do |index|%>
  <div class="photo">
		<% if @board.images[index].nil? %>
	    No Photo
	  <% else %>
	    <a class="large_board_image" href="<%= @board.images[index].data.url(:original)%>"><%= image_tag @board.images[index].data.url(:show_page), :alt => "Image #{index + 1}" %></a>
	  <% end %>		
  </div>
	<% if (index % 2 == 1) %>
	<div class="clear"></div>
	<% end %>		
	<%end%>  
</div>
<div class="clear"></div>

<% form_for @board, :html => {:multipart => true } do |f| %>
  <%= f.error_messages %>

    <%= render :partial => '/unavailable_dates/form' %>
    <div id="submit-reservation">
      <p>
        <%= f.submit submit_button_text_for(current_user, @board) %>
        <%= link_to "What happens when I click save?", "#", :id => 'how-link' %>
      </p>
    </div>
    <div id="how-words" style="display:none">
      
      <%  if !logged_in? %>
        <p>
          First you will be taken to the login screen to either login or create an account.
        </p>
        <br/>
      <% end %>

      <p>
        You will get an email about the board you reserved and the dates of your
        reservation(s). The email will have contact information for the shop or person
        you're renting from. If you're renting from a person and not a shop, you should
        make sure to plan a time to meet to pick up your board. Finally,
        you'll be expected to pay for your reservation when you pickup your board. All
        this will be repeated in the email you receive.
      </p>
      <br/>
      <p>
        Please be cool and treat other people's boards well. If you damage a board and it's your fault,
        offer to cover repairs.
      </p>
    </div>

<%end%>