<% content_for :head do %>
  <%= stylesheet_link_tag 'board',
 	'datePicker',
 	'unavailable_dates',
	'jquery/colorbox/colorbox',
 	:media => 'screen' %>
	<%# All of the javascript for the date picker.  Cache these all up so they are served as one file.%>
  <%= javascript_include_tag 'jquery/date_picker/date',
		'jquery/date_picker/jquery.datePicker',
		'jquery/date_picker/datePickerMultiMonth',
		:cache=> "cache/date_picker"%>
  <%= javascript_include_tag 'unavailable_dates/new'%>
<%= javascript_include_tag 'jquery/colorbox/jquery.colorbox-min'%>

<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $(".large_board_image").colorbox();
    $("#how-link").click(function () {
      $("#how-words").toggle(600);
      return false;
    });
  });

<% end %>

<h1>Board Details</h1>
<% if !@board.user_is_owner(current_user) && @board.active? %>
  <div id="rent-me-link">
    <%= link_to "Reserve This Board!", new_board_reservation_path(@board) %>
  </div>
<% end %>

<div id="info-table">
  <h2>Info</h2>

  <ul>
    <li class="attr-name">Maker</li>
    <li class="value">
      <%=h @board.maker %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Model</li>
    <li class="value">
      <%=h @board.model %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Length</li>
    <li class="value">
      <%=h @board.length_feet %>' <%=h @board.length_inches %>"
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Width</li>
    <li class="value">
      <% if !@board.width.nil? %>
        <%=h @board.width_inches %> <%=h @board.width_fraction %>"
      <% end %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Thickness</li>
    <li class="value">
      <% if !@board.thickness.nil? %>
        <%=h @board.thickness_inches %> <%=h @board.thickness_fraction %>"
      <% end %>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Style</li>
    <li class="value">
      <%=h @board.style.name%>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Construction</li>
    <li class="value">
      <%=h @board.description %>
    </li>
  </ul>
  <div class="clear"></div>
  
  <ul>
    <li class="attr-name">Board Owner</li>
    <li class="value">
			<%= link_to h(@board.creator.full_name), user_path(@board.creator) %>
			<%=%>
    </li>
  </ul>
  <div class="clear"></div>

  <ul>
    <li class="attr-name">Location</li>
    <li class="value">
      <%=h @board.location %>
    </li>
  </ul>
  <div id="show-daily-fee">
    <ul>
      <li id="money" class="attr-name">Daily Fee</li>
      <li class="value">
        <% if @board.daily_fee == 0.00 %>
          Free!
        <% else %>
					<%= h number_to_currency(@board.daily_fee, :unit => "$") %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
  <% if !@board.description.nil? %>
  <h2>Description</h2>
  <p class="description"><%= h @board.description %></p>
  <% end %>
</div>

<div id="photos">
  <h2>Photos</h2>

	<%(0...Board::MAX_IMAGES).each do |index|%>
  <div class="photo">
		<% if @board.images[index].nil? %>
	    No Photo
	  <% else %>
	    <a class="large_board_image" href="<%= @board.images[index].data.url(:original)%>"><%= image_tag @board.images[index].data.url(:show_page), :alt => "Image #{index + 1}" %></a>
	  <% end %>		
  </div>
	<% if (index % 2 == 1) %>
	<div class="clear"></div>
	<% end %>		
	<%end%>  
</div>
<div class="clear"></div>
  <% if @board.user_is_owner(current_user) %>
    <h2>Which days is this board <strong>not</strong> available?</h2>
    <h3>Select the days you won't be able to rent or lend this board and click the button below.
    <br>You can always return to change these dates later.</h3>
    <% form_for @board do |f| %>
      <%= f.error_messages %>
      <%= render :partial => '/unavailable_dates/form', :locals => { :board => @board } %>
      <div id="submit-unavailable-dates">
        <p>
          <%= f.submit "Save Dates", :class => 'submitBtn' %>
        </p>
      </div>
    <% end %>
  <% end %>

