<% content_for :head do %>
  <%= stylesheet_link_tag 'board_searches', :media => 'screen' %>
<% end %>

<h1>Find boards to borrow or rent</h1>
<div class="search-instructions">
  <h2>Search for a board by location and the style of board you want.</h2>
  <h2>We'll match these criteria with boards available for your trip.</h2>
</div>

<% form_for @board_search, :html => {:id => 'search_form' } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :location_id, "Location:" %>
	<%= f.collection_select :location_id, @search_locations, :id, :to_s, {:prompt => true} %>
  </p>
	<p>
    <%= f.label :style_id, "Style:" %>
	<%= f.collection_select :style_id, Style.all, :id, :name, {:prompt => "All"} %>
  </p>
  
  <p><%= f.submit "Search", :class => 'submitBtn'  %></p>
<% end %>


