<% content_for :head do %>
  <%= stylesheet_link_tag 'board','board_searches', :media => 'screen' %>
<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $(".board-owner").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
  });

<% end %>

<h1>Board Search Results</h1>

<% if @found_boards.empty? %>
  <p>
    We couldn't find any boards where you're planning on going.  Try a different <%= link_to "search", new_board_search_path %>.
  </p>
  <%  else %>
  <div id="search-results">
    <div class="board-list">
      <ul id="list-headings">
        <li class="pic">Pic</li>
        <li class="model">Description</li>
        <li class="medium">Type</li>
        <li class="short">Length</li>
        <li class="short">Fee</li>
      </ul>
      <% @found_boards.group_by(&:creator).each do |owner, boards|  %>
        <div class="board-owner">
          <p><span>Available from: </span><%= link_to "#{owner.full_name}", user_path(:id => owner.id) %>
            <% if current_user == owner %><span> (That's you!)</span><% end %></p>
        </div>
        <%= render :partial => "boards/board", :collection => boards %>
      <% end %>
    </div>
    <div id="redo-search">
      <h2>New Search</h2>
      <%= render :partial => "form" %>
    </div>
  </div>
  
  <% end %>

