<div id="hiddenLocationFields">
  <% fields_for @location, form do |f|%>
    
    <%= f.hidden_field :street %>
    <%= f.hidden_field :locality %>
    <%= f.hidden_field :region %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :country %>

  <% end %>
</div>
