<% content_for :javascript do %>
  $(document).ready(function() {
    $("#change-location-link").click(function () {
      $("#new-location").slideToggle(600);
      $("#change-location-link").css("display","none");
      $("#location-selector").val("");

    });
  });

<% end %>
  
<% semantic_form_for @user, :html => { :id => "location-form",:enctype => "multipart/form-data" } do |form| %>
<div id="the-location" class="user-info-table">
  <h2>Your Location</h2>
  <% if @user.is_a?(Surfer) %>
    <p>
      Note: We use your zip or postal code to share your general location (city/state/country) with other users.
      If you don't put your zip code here, then you won't show up in location-based searches.
    </p>
  <% else %>
    <p>
      Note: This is used to set your shop's location so that users can find it in a search.
    </p>
  <% end %>
  <% if !@user.location.nil? %>
    <div id="current-location">
      <p>
        Your Current Postal Code: <%= @user.location.postal_code %>
        <span id="change-location-link">&nbsp;Click to change it</span>
      </p>
    </div>
  <% end %>
  <div id="new-location" <% if !@user.location.nil? %>style='display:none'<% end %> >
    <div id="address-fields">
      <% form.semantic_fields_for "user_location_attributes" do |fields| %>
        <%= fields.input :street, :as => :hidden, :required => false, :input_html => { :class => 'street' } %>
        <%= fields.input :locality, :as => :hidden, :label => "City", :input_html => { :class => 'city' }  %>
        <%= fields.input :region, :as => :hidden, :label => "State", :required => false, :input_html => { :class => 'state' }  %>
        <%= fields.input :postal_code, :label => "Your zip or postal code", :required => false, :input_html => { :class => 'zip' }  %>
      <% end %>
    </div>
    <div class="clear"></div>
    <div id="upload-button" class="submit address-button">
      <%= form.submit 'Save', :class => 'submitBtn', :id => 'location-submit' %>
    </div>
    <div id="address-error" class="address-error" style="display:none"><span>Unable to process address.  Is there a typo?</span></div>
    <div id="address-imprecise" class="address-error" style="display:none"><span>Address is not precise enough. Did you include a street number?</span></div>
  </div>
</div>
<% end %>