<p>
  <b>Street:</b>
  <%=h @location.street %>
</p>

<p>
  <b>Locality:</b>
  <%=h @location.locality %>
</p>

<p>
  <b>Region:</b>
  <%=h @location.region %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @location.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%=h @location.country %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>